div{
	border-radius: 10px;
}
#header{
	height: 50px;
	background-color: #f38630;
	margin-bottom: 10px;
}
.left{
	height: 300px;
	width: 150px;
	background-color: #a7dbdb;
	float: left;
	margin-bottom: 10px;
}
.right{
	height: 300px;
	width: 450px;
	background-color: red;
	float: right;
	margin-bottom: 10px;
}
#footer{
	height: 50px;
	background-color: #69d2e7;
	clear: both;
}