*{
	border: 1px dashed blue;
}
div{
	height: 100px;
	width: 150px;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
}
#one{
	background-color: #ff0000;
}
#two{
	background-color: #0000ff;
}
#three{
	background-color: #ffd700;
}
#four{
	background-color: #308014;
}